.config
.config.old
.*.swp
build/
tags
modules/Kconfig
*.o
*.log
.libs
gen/
cbenchsuite

__pycache__/

#define PWM_FREQ 4

# kconfig-frontend stuff

libs/kconfig-frontends/Makefile
libs/kconfig-frontends/config.status
libs/kconfig-frontends/docs/Makefile
libs/kconfig-frontends/frontends/Makefile
libs/kconfig-frontends/frontends/conf/.deps/
libs/kconfig-frontends/frontends/conf/Makefile
libs/kconfig-frontends/frontends/conf/conf
libs/kconfig-frontends/frontends/gconf/.deps/
libs/kconfig-frontends/frontends/gconf/Makefile
libs/kconfig-frontends/frontends/gconf/gconf
libs/kconfig-frontends/frontends/mconf/.deps/
libs/kconfig-frontends/frontends/mconf/Makefile
libs/kconfig-frontends/frontends/mconf/mconf
libs/kconfig-frontends/frontends/nconf/.deps/
libs/kconfig-frontends/frontends/nconf/Makefile
libs/kconfig-frontends/frontends/nconf/nconf
libs/kconfig-frontends/frontends/qconf/.deps/
libs/kconfig-frontends/frontends/qconf/Makefile
libs/kconfig-frontends/frontends/qconf/qconf
libs/kconfig-frontends/frontends/qconf/qconf.moc
libs/kconfig-frontends/inst/
libs/kconfig-frontends/libs/Makefile
libs/kconfig-frontends/libs/images/.deps/
libs/kconfig-frontends/libs/images/Makefile
libs/kconfig-frontends/libs/images/images.c
libs/kconfig-frontends/libs/images/images.h
libs/kconfig-frontends/libs/images/libkconfig-images.a
libs/kconfig-frontends/libs/lxdialog/.deps/
libs/kconfig-frontends/libs/lxdialog/Makefile
libs/kconfig-frontends/libs/lxdialog/libkconfig-lxdialog.a
libs/kconfig-frontends/libs/parser/.deps/
libs/kconfig-frontends/libs/parser/Makefile
libs/kconfig-frontends/libs/parser/hconf.c
libs/kconfig-frontends/libs/parser/libkconfig-parser.la
libs/kconfig-frontends/libs/parser/libkconfig_parser_la-yconf.lo
libs/kconfig-frontends/libtool
libs/kconfig-frontends/scripts/.autostuff/config.h
libs/kconfig-frontends/scripts/.autostuff/stamp-h1
libs/kconfig-frontends/scripts/Makefile
libs/kconfig-frontends/utils/.deps/
libs/kconfig-frontends/utils/Makefile
libs/kconfig-frontends/utils/gettext
libs/kconfig-frontends/utils/tweak
