.nav>li>a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.nav {
	padding-left: 15px;
}

#menudiv {
	margin: 0px;
}

@media (min-width:1200px) {
	.lg-only {
		display:block !important;
	}
}

@media (max-width: 1200px) {
	.lg-only {
		display:none !important;
	}
}
h3 {
	margin: 0px;
	font-size: 20px;
}


#menudiv {
	padding: 0px;
	max-height: 100vh;
	overflow-y: auto;
}

#contentdiv {
	max-height: 100vh;
	overflow-y: auto;
}
